@use '../variables/variables' as *
@use '../variables/typography' as t
@use '../variables/buttons' as b


.back_button
    @include t.body
    color: $dusk
    border: none
    background-color: transparent
    cursor: pointer
    margin-bottom: 1.5em

.radio
    position: relative
    width: 100%
    height: 3.5em
    margin-top: 1em
    
    &__input
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        position: absolute
        width: 100%
        height: 100%
        z-index: 2
        cursor: pointer

    &_displayed
        position: relative
        display: flex
        align-items: center
        width: 100%
        height: 100%
        border-radius: 0.5rem
        border: 1px solid #cfcfcf
        font-size: 0.875em
        line-height: 1.357142857142857em
        letter-spacing: -0.25px
        color: $midnight
        padding-left: 1.142857142857143em

        &::before
            content: ''
            position: absolute
            width: 1.428571428571429em
            height: 1.428571428571429em
            border-radius: 50%
            border: 1px solid #cfcfcf

        &::after
            content: ''
            position: absolute
            width: 0.714285714285714em
            height: 0.714285714285714em
            border-radius: 50%
            background-color: transparent
            margin-left: calc(0.714285714285714em / 2)

        &__label
            margin-left: 2.571428571428571em
            font-weight: 700

    &__input:checked ~ .radio_displayed
        border: 1px solid $dirty-apricot

    &__input:checked ~ .radio_displayed::after
        background-color: $dirty-apricot

.checkout
    background-color: $dusted-porcelain
    padding: 1em 1.5em 6.0625em

    &_details
        background-color: $white-bread
        border-radius: 0.5em
        margin-bottom: 2em
        padding: 1.5em 1.5em

        &__heading
            @include t.heading-three
            font-size: 1.75em
            line-height: 1.357142857142857em
            letter-spacing: 0.035714285714286em

        &_section
            margin-top: 2em

            &__heading
                @include t.sub-title
                color: $dirty-apricot
                margin: 0 0 1.230769230769231em 
            
            &__container
                display: grid
                gap: 1.5em

            &_item

                &__label
                    display: block
                    font-size: 0.75em
                    line-height: 1.33333333em
                    letter-spacing: -0.0178571666667em
                    font-weight: 700

                &__input
                    display: block
                    width: 100%
                    height: 4em
                    border-radius: 0.5rem
                    border: 1px solid #cfcfcf
                    font-size: 0.875em
                    line-height: 1.357142857142857em
                    letter-spacing: -0.25px
                    color: $midnight
                    margin-top: 0.642857142857143em
                    padding: 1.285714285714286em 1.714285714285714em

                    &::placeholder
                        color: $midnight
                        opacity: 0.4

                    &:focus, &:active, &:hover
                        outline: 0
                        border: 1px solid $dirty-apricot

                    &::-moz-focus-inner
                        border: 0
        
    &_summary
        background-color: $white-bread
        border-radius: 0.5em
        padding: 2em 1.5em

        &__heading
            font-size: 1.125em
            line-height: 1.38888888889em
            letter-spacing: 0.0714283333333em
            text-transform: uppercase
            font-weight: 700
            margin-bottom: 1.72222222222em

        &_display
            display: grid
            grid-auto-rows: 4em
            row-gap: 1.5em
            margin-bottom: 2em

            &_item
                display: flex
                justify-content: space-between
                align-items: center
                height: 100%

                &_info
                    display: flex
                    align-items: center
                    height: 100%

                    &__image
                        width: 4em
                        height: 100%
                        margin-right: 1em
                        
                        & > * 
                            border-radius: 0.5em

                    &__heading
                        @include t.body
                        font-weight: 700
                        
                    &__price
                        font-size: 0.875em
                        line-height: 1.785714285714286em
                        color: $dusk
                        font-weight: 700

        &_money
            display: grid
            grid-template-rows: 1.5625em 1.5625em 1.5625em 2.5625em
            gap: 0.5em
            align-items: end
            margin-bottom: 2em

            &_item
                display: flex
                justify-content: space-between

                &__heading
                    font-size: 0.9375em
                    line-height: 1.666666667em
                    font-weight: 500
                    text-transform: uppercase
                    opacity: 0.5

                &__number
                    position: relative
                    font-size: 1.125em
                    line-height: 1.38888888889em
                    font-weight: 700

                    &::before
                        content: '$'
                        position: absolute
                        left: -0.72em

                    &___grand
                        color: $dirty-apricot

        &__pay
            @include b.button-one
            width: 100%

.confirmation
    position: fixed
    top: 0
    left: 0
    right: 0
    width: 100%
    height: 100%
    display: flex
    align-items: center
    background-color: $dusk

    &__modal
        width: 20.4375em
        border: none
        border-radius: 0.5em
        margin: 5.625em auto 0


                    