.home {
  width: 100%;
  min-height: 100%;
}

.banner {
  position: relative;
  width: 100%;
  height: 37.5em;
  background-color: rgba(15, 15, 15, 0.2);
  background-image: url("/assets/home/mobile/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-position-y: 100%;
  background-position-y: 50%;
  margin-bottom: 2.5em;
  padding-top: 6.75em;
  padding-top: 12.735em;
}
.banner_ad {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20.5em;
  height: 18.125em;
  margin: 0 auto;
  text-align: center;
}
.banner_ad__status {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.875em;
  line-height: 1.3571428571em;
  letter-spacing: 0.7142857143em;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1.1428571329em;
}
.banner_ad__heading {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25em;
  line-height: 1.111111em;
  letter-spacing: 0.0357141667em;
  color: white;
  margin-bottom: 0.6666666667em;
}
@media (min-width: 760px) {
  .banner_ad__heading {
    font-size: 3.5em;
    line-height: 1.0357142857em;
    letter-spacing: 0.0357142857em;
  }
}
.banner_ad__description {
  font-weight: 500;
  font-size: 0.9375em;
  line-height: 1.6666666667em;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 1.8666666667em;
}
.banner_ad__button {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 0.0625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  transition: all 150ms ease;
  color: white;
  background-color: #d97e4a;
}
.banner_ad__button:hover {
  background-color: #fbad83;
}

.ads {
  display: grid;
  grid-template-rows: 37.5em 20em 26.5em;
  gap: 1.5em;
}
.ads_large {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 37.5em;
  height: 100%;
  background-color: #d97e4a;
  background-color: #d97c4a;
  background-image: url("/assets/home/desktop/pattern-circles.svg");
  background-size: 170%;
  background-position: 50% -7.5em;
  background-repeat: no-repeat;
  border-radius: 0.5em;
}
.ads_large__image {
  width: 10.765625em;
  height: 12em;
  margin: 3.6em auto 2.81em;
}
.ads_large_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.ads_large_text__heading {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25em;
  line-height: 1.111111em;
  letter-spacing: 0.0357141667em;
  color: white;
  width: 5em;
  margin-bottom: 0.6666666667em;
}
@media (min-width: 760px) {
  .ads_large_text__heading {
    font-size: 3.5em;
    line-height: 1.0357142857em;
    letter-spacing: 0.0357142857em;
  }
}
.ads_large_text__body {
  font-weight: 500;
  font-size: 0.9375em;
  line-height: 1.6666666667em;
  color: rgba(255, 255, 255, 0.75);
  width: 18em;
  margin-bottom: 1.6em;
}
.ads_large_text__button {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 0.0625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  transition: all 150ms ease;
  color: white;
  background-color: black;
  margin: 0 auto;
}
.ads_large_text__button:hover {
  background-color: #4d4d4d;
}
.ads_medium {
  width: 100%;
  height: 20em;
  height: 100%;
  background-image: url("/assets/home/mobile/image-speaker-zx7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5em;
  padding: 6.3125em 0 0 1.5em;
}
.ads_medium_text__heading {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.75em;
  line-height: 1.3571428571em;
  letter-spacing: 0.0714285714em;
  margin-bottom: 1.1428571429em;
}
.ads_medium_text__button {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 0.0625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  transition: all 150ms ease;
  color: black;
  background-color: transparent;
  border: 0.0625em solid black;
  margin-left: 0.09375em;
}
.ads_medium_text__button:hover {
  color: white;
  background-color: black;
}
.ads_split {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1.5em;
}
.ads_split__image {
  width: 100%;
  height: 12.5em;
}
.ads_split__image * {
  border-radius: 0.5em;
}
.ads_split_text {
  width: 100%;
  height: 12.5em;
  background-color: #f0f0f0;
  border-radius: 0.5em;
  padding: 2.5625em 0 0 1.5em;
}
.ads_split_text__heading {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.75em;
  line-height: 1.3571428571em;
  letter-spacing: 0.0714285714em;
  margin-bottom: 1.1428571429em;
}
.ads_split_text__button {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 0.0625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  transition: all 150ms ease;
  color: black;
  background-color: transparent;
  border: 0.0625em solid black;
  margin-left: 0.09375em;
}
.ads_split_text__button:hover {
  color: white;
  background-color: black;
}

@media screen and (min-width: 760px) {
  .banner {
    height: 45.5625em;
    background-image: url("/assets/home/tablet/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 6em;
    padding-top: 13.5em;
  }
  .banner_ad {
    width: 23.6875em;
    height: 21.625em;
  }
  .banner_ad__status {
    margin-bottom: 1.7142857143em;
  }
  .banner_ad__heading {
    margin-bottom: 0.4285714286em;
  }
  .banner_ad__description {
    width: 23.2666666667em;
    margin-bottom: 2.6666666667em;
  }

  .ads {
    grid-template-rows: 45em 20em 20em;
    gap: 2em;
  }
  .ads_split {
    grid-template-columns: 21.1875em 21.1875em;
    gap: 0.6875em;
  }
  .ads_split__image {
    width: 100%;
    height: 100%;
  }
  .ads_split_text {
    width: 100%;
    height: 100%;
  }
}/*# sourceMappingURL=Home.module.css.map */