.home {
  width: 100%;
  min-height: 100%;
}

.banner {
  position: relative;
  width: 100%;
  height: 37.5em;
  background-color: hsla(0deg, 0%, 6%, 0.2);
  background-image: url("/assets/home/mobile/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-position-y: 100%;
  background-position-y: 50%;
  margin-bottom: 2.5em;
  padding-top: 6.75em;
  padding-top: 12.735em;
}
.banner_ad {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20.5em;
  height: 18.125em;
  margin: 0 auto;
  text-align: center;
}
.banner_ad__status {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.875em;
  line-height: 1.3571428571em;
  letter-spacing: 0.7142857143em;
  color: hsla(0deg, 0%, 100%, 0.5);
  margin-bottom: 1.1428571329em;
}
.banner_ad__heading {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25em;
  line-height: 1.111111em;
  letter-spacing: 0.0357141667em;
  color: hsl(0deg, 0%, 100%);
  margin-bottom: 0.6666666667em;
}
@media (min-width: 760px) {
  .banner_ad__heading {
    font-size: 3.5em;
    line-height: 1.0357142857em;
    letter-spacing: 0.0357142857em;
  }
}
.banner_ad__description {
  font-weight: 500;
  font-size: 0.9375em;
  line-height: 1.6666666667em;
  color: hsla(0deg, 0%, 100%, 0.75);
  margin-bottom: 1.8666666667em;
}
.banner_ad__button {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125em;
  line-height: 1.125em;
  letter-spacing: 0.0625em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  transition: all 200ms ease;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(22deg, 65%, 57%);
}
@media screen and (min-width: 1200px) {
  .banner_ad__button {
    width: 12.3076923077em;
    height: 3.6923076923em;
  }
}
.banner_ad__button:hover {
  background-color: hsl(21deg, 94%, 75%);
}

.ads {
  display: grid;
  grid-template-rows: 37.5em 20em 26.5em;
  gap: 1.5em;
}
.ads_large {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 37.5em;
  height: 100%;
  background-color: hsl(22deg, 65%, 57%);
  background-color: hsl(21deg, 65%, 57%);
  background-image: url("/assets/home/desktop/pattern-circles.svg");
  background-size: 170%;
  background-position: 50% -7.5em;
  background-repeat: no-repeat;
  border-radius: 0.5em;
}
.ads_large__image {
  width: 10.765625em;
  height: 12em;
  margin: 3.6em auto 2.81em;
}
.ads_large_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.ads_large_text__heading {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25em;
  line-height: 1.111111em;
  letter-spacing: 0.0357141667em;
  color: hsl(0deg, 0%, 100%);
  width: 5em;
  margin-bottom: 0.6666666667em;
}
@media (min-width: 760px) {
  .ads_large_text__heading {
    font-size: 3.5em;
    line-height: 1.0357142857em;
    letter-spacing: 0.0357142857em;
  }
}
.ads_large_text__body {
  font-weight: 500;
  font-size: 0.9375em;
  line-height: 1.6666666667em;
  color: hsla(0deg, 0%, 100%, 0.75);
  width: 18em;
  margin-bottom: 1.6em;
}
.ads_large_text__button {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125em;
  line-height: 1.125em;
  letter-spacing: 0.0625em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  transition: all 200ms ease;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(0deg, 0%, 0%);
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .ads_large_text__button {
    width: 12.3076923077em;
    height: 3.6923076923em;
  }
}
.ads_large_text__button:hover {
  background-color: hsl(0deg, 0%, 30%);
}
.ads_medium {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url("/assets/home/mobile/image-speaker-zx7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5em;
  padding-left: 1.5em;
}
.ads_medium_text__heading {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.75em;
  line-height: 1.3571428571em;
  letter-spacing: 0.0714285714em;
  margin-bottom: 1.1428571429em;
}
.ads_medium_text__button {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125em;
  line-height: 1.125em;
  letter-spacing: 0.0625em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  transition: all 200ms ease;
  color: hsl(0deg, 0%, 0%);
  background-color: transparent;
  border: 0.0625em solid hsl(0deg, 0%, 0%);
  margin-left: 0.09375em;
}
@media screen and (min-width: 1200px) {
  .ads_medium_text__button {
    width: 12.3076923077em;
    height: 3.6923076923em;
  }
}
.ads_medium_text__button:hover {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(0deg, 0%, 0%);
}
.ads_split {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 12.5em 12.5em;
  gap: 1.5em;
}
.ads_split__image {
  width: 100%;
  height: 100%;
}
.ads_split__image * {
  border-radius: 0.5em;
}
.ads_split_text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(0deg, 0%, 94%);
  border-radius: 0.5em;
  padding-left: 1.5em;
}
.ads_split_text__heading {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.75em;
  line-height: 1.3571428571em;
  letter-spacing: 0.0714285714em;
  margin-bottom: 1.1428571429em;
}
.ads_split_text__button {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125em;
  line-height: 1.125em;
  letter-spacing: 0.0625em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  transition: all 200ms ease;
  color: hsl(0deg, 0%, 0%);
  background-color: transparent;
  border: 0.0625em solid hsl(0deg, 0%, 0%);
  margin-left: 0.09375em;
}
@media screen and (min-width: 1200px) {
  .ads_split_text__button {
    width: 12.3076923077em;
    height: 3.6923076923em;
  }
}
.ads_split_text__button:hover {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(0deg, 0%, 0%);
}

@media screen and (min-width: 760px) {
  .banner {
    height: 45.5625em;
    background-image: url("/assets/home/tablet/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 6em;
    padding-top: 13.5em;
  }
  .banner_ad {
    width: 23.6875em;
    height: 21.625em;
  }
  .banner_ad__status {
    margin-bottom: 1.7142857143em;
  }
  .banner_ad__heading {
    margin-bottom: 0.4285714286em;
  }
  .banner_ad__description {
    width: 23.2666666667em;
    margin-bottom: 2.6666666667em;
  }
  .ads {
    grid-template-rows: 45em 20em 20em;
    gap: 2em;
  }
  .ads_large {
    background-size: 134%;
    background-position: 50% -17em;
  }
  .ads_large__image {
    width: 12.3em;
    height: 14em;
    margin: 3.8em auto 4.2em;
  }
  .ads_large_text__heading {
    width: 5em;
    margin-bottom: 0.4285714286em;
  }
  .ads_large_text__body {
    width: 22em;
    margin-bottom: 2.6666666667em;
  }
  .ads_medium {
    background-image: url("/assets/home/tablet/image-speaker-zx7.jpg");
    padding-left: 3.875em;
  }
  .ads_medium_text__heading {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.75em;
    line-height: 1.3571428571em;
    letter-spacing: 0.0714285714em;
    margin-bottom: 1.1428571429em;
  }
  .ads_medium_text__button {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8125em;
    line-height: 1.125em;
    letter-spacing: 0.0625em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    border: none;
    cursor: pointer;
    transition: all 200ms ease;
    color: hsl(0deg, 0%, 0%);
    background-color: transparent;
    border: 0.0625em solid hsl(0deg, 0%, 0%);
    margin-left: 0.09375em;
  }
}
@media screen and (min-width: 760px) and (min-width: 1200px) {
  .ads_medium_text__button {
    width: 12.3076923077em;
    height: 3.6923076923em;
  }
}
@media screen and (min-width: 760px) {
  .ads_medium_text__button:hover {
    color: hsl(0deg, 0%, 100%);
    background-color: hsl(0deg, 0%, 0%);
  }
}
@media screen and (min-width: 760px) {
  .ads_split {
    grid-template-columns: 21.1875em 21.1875em;
    grid-template-rows: 100% 100%;
    gap: 0.6875em;
  }
  .ads_split_text {
    padding-left: 2.5625em;
  }
}
@media screen and (min-width: 1200px) {
  .banner {
    background-image: url("/assets/home/desktop/image-hero.jpg");
    margin-bottom: 7.5em;
    padding-top: 14.0625em;
  }
  .banner_ad {
    align-items: start;
    width: 69.375em;
  }
  .banner_ad__status {
    text-align: left;
  }
  .banner_ad__heading {
    width: 10em;
    text-align: left;
  }
  .banner_ad__description {
    text-align: left;
  }
  .ads {
    grid-template-rows: 35em 20em 20em;
    gap: 3em;
    margin: 0.5em 0 2.5em;
  }
  .ads_large {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    background-size: 59em;
    background-position: -9.3125em -2em;
    overflow: hidden;
  }
  .ads_large__image {
    width: 25.4em;
    height: 28.8em;
    top: 7.1em;
    left: 7.6em;
    margin: 0;
  }
  .ads_large_text {
    align-items: start;
    width: 21.8125em;
    margin: 8.3125em 5.9375em 0 0;
  }
  .ads_large_text__heading {
    text-align: left;
  }
  .ads_large_text__body {
    text-align: left;
  }
  .ads_large_text__button {
    margin: 0;
  }
  .ads_medium {
    background-image: url("/assets/home/desktop/image-speaker-zx7.jpg");
    padding-left: 5.9375em;
  }
  .ads_split {
    grid-template-columns: 1fr 1fr;
    gap: 1.875em;
  }
  .ads_split__image {
    width: 100%;
    height: 100%;
  }
  .ads_split_text {
    padding-left: 5.9375em;
  }
}/*# sourceMappingURL=Home.module.css.map */