.header {
  position: absolute;
  width: 100%;
  height: 5.625em;
  background-color: hsl(0deg, 0%, 0%);
  z-index: 99;
}
.header___home {
  background-color: transparent;
}
.header__convenient {
  position: absolute;
  width: 100%;
  height: 5.625em;
  background-color: hsl(0deg, 0%, 0%);
  transition: all 150ms ease;
  z-index: 98;
}
.header__convenient___backInBlack {
  background-color: transparent;
}
.header_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  width: 20.4375em;
  margin: 0 auto;
  z-index: 99;
}
.header_container__underline::before {
  content: "";
  position: absolute;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%);
  width: 100vw;
  height: 0.0625em;
  background-color: hsla(0deg, 0%, 100%, 0.1);
}
.header_hamburger {
  display: flex;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  font-size: 1em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.header_hamburger__patty {
  width: 1em;
  height: 0.9375em;
}
.header__logo {
  cursor: pointer;
}
.header_cart {
  display: inline-block;
  width: 1.4375em;
  height: 1.25em;
  cursor: pointer;
}
.header_collapsedNav {
  width: 100vw;
  position: absolute;
  background-color: hsl(0deg, 0%, 100%);
  padding: 1.5em 1.5em 2.1875em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  transition: transform 200ms ease;
  transform: translateY(-150%);
  z-index: 90;
}
.header_collapsedNav__navContainer {
  width: 20.4375em;
  margin: 0.88em auto 0;
}
.header_collapsedNav___open {
  transform: translateY(0);
}

.cart {
  position: absolute;
  width: 20.4375em;
  border: none;
  border-radius: 0.5em;
  background-color: hsl(0deg, 0%, 100%);
  margin: 1.5em auto;
  margin: 7.125em auto 0;
  z-index: 101;
}
.cart__backdrop {
  position: fixed;
  inset: 0;
  overflow: scroll;
  background-color: hsla(0deg, 0%, 0%, 0.5);
  z-index: 100;
}

@media screen and (min-width: 760px) {
  .header_container {
    width: 43.0625em;
    width: max(85.0617283951%, 43.0625em);
  }
  .header_container__underline::before {
    width: 100%;
    height: 0.0625em;
    background-color: hsla(0deg, 0%, 100%, 0.1);
  }
  .header__logo {
    position: absolute;
    left: 3.625em;
  }
  .header_collapsedNav__navContainer {
    width: 43.0625em;
    width: max(70%, 43.0625em);
  }

  .cart {
    width: 23.5625em;
    margin: 7.125em auto 0;
    margin: 0;
    top: 7.125em;
    left: calc(100% - 26.0625em);
  }
}
@media screen and (min-width: 930px) {
  .header_container {
    width: 43.0625em;
    width: max(85.0617283951%, 43.0625em);
    justify-content: center;
  }
  .header_container__underline::before {
    width: 100%;
    height: 0.0625em;
    background-color: hsla(0deg, 0%, 100%, 0.1);
  }
  .header__logo {
    left: 0;
  }
  .header_cart {
    position: absolute;
    right: 0;
  }
  .header_collapsedNav__navContainer {
    width: 43.0625em;
    width: max(70%, 43.0625em);
  }

  .cart {
    width: 23.5625em;
    margin: 7.125em auto 0;
    margin: 0;
    top: 7.125em;
    left: calc(100% - 26.0625em);
  }
}/*# sourceMappingURL=Header.module.css.map */