@use '../variables/variables' as *
@use '../variables/typography' as t
@use '../variables/buttons' as b

.preview
    display: flex
    flex-direction: column

    &__image
        width: 100%
        height: 22em
        margin-bottom: 2em

        & > *
            border-radius: 0.5em
            z-index: 0

    &_text
        display: flex
        flex-direction: column
        align-items: center
        text-align: center

        &__new
            @include t.overline
            color: $dirty-apricot
            margin-bottom: 1.714285714285714em

        &__heading
            @include t.heading-two
            margin-bottom: 0.857142857142857em

            &___span
                display: block

        &__body
            @include t.body
            color: $dusk
            margin-bottom: 1.6em

        &__button
            @include b.button-one

@media screen and ( min-width: $tablet )
    .preview

        &__image
            margin-bottom: 3.25em

        &_text

            &__new
                margin-bottom: 1.142857142857143em

            &__heading
                margin-bottom: 0.8em

            &__body
                margin-bottom: 1.6em

@media screen and ( min-width: $desktop-sm )
    .preview
        height: 35em
        flex-direction: row
        justify-content: space-between
        align-items: center

        &:nth-of-type(2n)
            flex-direction: row-reverse

        &__image
            width: 33.75em
            height: 100%
            margin: 0

        &_text
            width: 27.8125em
            height: 21.4375em
            align-items: start
            justify-content: end
            text-align: left

            &__body
                margin-bottom: 2.666666666667em
            
    