@use '../variables/variables' as *
@use '../variables/typography' as t
@use '../variables/buttons' as b

.others

    &__heading
        @include t.heading-three
        text-align: center
        margin-bottom: 1.6666666666667em

    &_list
        display: grid
        gap: 3.5em

        &_item
            display: flex
            flex-direction: column
            align-items: center

            &__image
                width: 100%
                height: 7.5em
                margin-bottom: 2em

                & > *
                    border-radius: 0.5em

            &__heading
                @include t.heading-five

            &__link
                @include b.button-one
                margin-top: 2em
            
@media screen and ( min-width: $tablet )
    
    .others

        &__heading
            margin-bottom: 1.75em

        &_list
            grid-template-columns: 13.9375em 13.9375em 13.9375em
            gap: 0.6875em

            &_item

                &__image
                    width: 100%
                    height: 19.875em
                    margin-bottom: 2.5em

                &__link
                    margin-top: 2em