
$tablet: 760px
$desktop-sm: 1200px
$desktop-m: 1800px
$desktop-l: 2200px
$desktop-xl: 3000px

$dirty-apricot: hsl(22, 65%, 57%)
$almost-midnight: hsl(0, 0%, 6%)
$dusty-porcelain: hsl(0, 0%, 95%)
$dusted-porcelain: hsl(0, 0%, 98%)
$aging-apricot: hsl(21, 94%, 75%)
$white-bread: hsl(0, 0%, 100%)
$midnight: hsl(0, 0%, 0%)
$dusk: hsla(0, 0%, 0%, 0.5)
$not-included-in-the-design-system: hsla(0, 0%, 30%, 1)

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap')

@mixin bold-as-midnight 
    color: $midnight
    font-weight: 700
    text-transform: uppercase

@mixin regular-apricot
    color: $dirty-apricot
    font-weight: 400
    text-transform: uppercase

@mixin bold-apricot
    color: $dirty-apricot
    font-weight: 700
    text-transform: uppercase
    
@mixin heading
    @include bold-as-midnight

    @media (min-width: $desktop-s)
        font-size: 3.5em
        line-height: 3.625em
        letter-spacing: 0.125em

@mixin sub-title
  @include bold-apricot
  font-size: 0.8125rem
  line-height: 1.125rem
  letter-spacing: 0.0625rem

html,
body 
  font-family: 'Manrope', sans-serif
  padding: 0
  margin: 0

h1 

a 
  // font-family: inherit
  text-decoration: none

li
  list-style: none

* 
  box-sizing: border-box
  margin: 0
  padding: 0

figure
  position: relative
  width: 5rem
  height: 5rem

// ---------------UTILITIES--------------------

@mixin button-size
  @include sub-title
  display: flex
  justify-content: center
  align-items: center
  width: 10rem
  height: 3rem
  transition: all 150ms ease

.button-one
  @include button-size
  color: $white-bread
  background-color: $dirty-apricot

  &:hover
    background-color: $aging-apricot

.button-two
  @include button-size
  color: $midnight
  background-color: transparent
  border: 0.0625em solid $midnight

  &:hover
    color: $white-bread
    background-color: $midnight

.button-three
  display: flex
  justify-content: space-between
  width: 3.5825rem
  height: 1.125rem
  color: $dusk

  &:hover
    color: $dirty-apricot

  & > p
    display: inline-block

  & > span
    display: inline-block
    width: 0.3125rem
    height: 0.625rem
    background-image: url('/assets/shared/desktop/icon-arrow-right.svg')
    background-size: cover
    background-repeat: no-repeat


.other-button
  @include button-size
  color: $white-bread
  background-color: $midnight

  &:hover
    background-color: $not-included-in-the-design-system