@use 'variables' as *
@use 'typography' as t

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap')

$tablet: 760px
$desktop-sm: 1200px
$desktop-m: 1800px
$desktop-l: 2200px
$desktop-xl: 3000px

html,
body 
  font-family: 'Manrope', sans-serif
  padding: 0
  margin: 0

h1 

a 
  text-decoration: none

li
  list-style: none

* 
  box-sizing: border-box
  margin: 0
  padding: 0

figure
  position: relative
  width: 5rem
  height: 5rem

// ---------------UTILITIES--------------------

.container
  width: 69.375rem
  margin: 0 auto

@mixin button-size
  @include t.sub-title
  display: flex
  justify-content: center
  align-items: center
  width: 10rem
  height: 3rem
  transition: all 150ms ease

.button-one
  @include button-size
  color: $white-bread
  background-color: $dirty-apricot

  &:hover
    background-color: $aging-apricot

.button-two
  @include button-size
  color: $midnight
  background-color: transparent
  border: 0.0625em solid $midnight

  &:hover
    color: $white-bread
    background-color: $midnight

.other-button
  @include button-size
  color: $white-bread
  background-color: $midnight

  &:hover
    background-color: $not-included-in-the-design-system